.show-card{
    background: #33333317;
    width: 250px;
    padding:10px;
    margin:10px;
}

.show-name{
    padding:10px 0;
}

.show-img{
    width:100%;
    min-height:200px;
    margin: 0 auto;
}
a{
    text-decoration: none;
    color:white

}
.rating{
    background: none;
    width:fit-content;
    padding:5px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:5px;
    font-weight: bold;
    border-radius: 20px;
    color:#333
}
.wishlist{
    all: unset;
    translate: 190px -220px;
}
.cart-btn {
    border-radius: 0;
    width:100%;
    margin-top:10px
}