@import url(//db.onlinewebfonts.com/c/39a2c7f346d5cfae7045aeb2fb50d9ad?family=LuloCleanW01-OneBold);
@import url(//db.onlinewebfonts.com/c/e5f78b4fb90a80a32be156470cbfead1?family=Avenir+LT+Pro);


.header-text {
    font-size: 28px;
    color: #333;
    font-weight: 700;
    padding: 5px;
    font-family: 'Avenir LT Pro';
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #FFE600;
}


.pd-list {
    font-size: 24px;
    padding: 20px;
    color: #a1a09e;
    letter-spacing: 5px;
    font-family: 'Avenir LT Pro';

}

.card-details {
    font-size: 15px;
    padding: 5px;
    color: #a1a09e;
    text-decoration: none;
    font-family:'Avenir LT Pro'
}

.project-display{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-bottom:100px;
    justify-content: center;
}

@media screen and (max-width:700px){
    .header-text{
        font-size:12px
    }
    .project-card{
        margin:40px 10px
    }
    
}