@import url('https://fonts.cdnfonts.com/css/montserrat');
@import url('https://fonts.cdnfonts.com/css/avenir');
body{
  font-family:'montserrat'!important;
}
body::-webkit-scrollbar{
  width:0
}
.primary-btn{
  background-color: #FFE600;
  font-size: 18px;
  font-weight:bolder;
  border-radius:25px;
  border:none;
  padding:10px 20px;
}